<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">

    <%- style %>

</head>

<body>
    <%- include('_header'); -%> <!-- Partial means to partial or half of code write in someother file -->
        <!-- <% if(flash.success && flash.success.length > 0){ %>
      <h5>
       <%= flash.success %>
      </h5>
   <%}%> -->


        <main id="layout-main">
            <%- body %> <!-- body is predefine from the express-ejs-layouts liberey
                                               and this body contains the variable part -->
        </main>
        <%- include('_footer'); -%>

            <%- script %>

                <script>
       <% if (flash.success && flash.success.length > 0) {%>
                        new Noty({
                            theme: 'relax',
                            text: "<%= flash.success %>",
                            type: 'success',
                            layout: 'topRight',
                            timeout: 1500

                        }).show();    
       <%} %>

       <% if (flash.error && flash.error.length > 0) {%>
                        new Noty({
                            theme: 'relax',
                            text: "<%= flash.error %>",
                            type: 'error',
                            layout: 'topRight',
                            timeout: 1500

                        }).show();    
       <%} %>
                </script>

</body>

</html>